
/* global styles */
@font-face {
  font-family: 'Ninetea';
  src: url('../fonts/Ninetea-Regular.woff2') format('woff2'),
       url('../fonts/Ninetea-Regular.woff') format('woff'),
       url('../fonts/Ninetea-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nyxerin';
  src: url('../fonts/NYXERIN.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.font-ninetea {
  font-family: "Ninetea", sans-serif;
}

.font-nyxerin {
  font-family: "Nyxerin", sans-serif;
}

.spacing-top-100 {
  --pading-top-100: 100px;
  padding-top: var(--pading-top-100);
}

:root {
  --container-width: 1440px;
  --container-padding: 84px;
  --section-padding: 100px;
  font-family: "Ninetea", sans-serif;
}

.container {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.section-padding {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

@media screen and (max-width: 1199px) {
  :root {
    --container-width: 990px;
    --container-padding: 40px;
    --section-padding: 60px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --container-width: 990px;
  }

  .spacing-top-100 {
    --pading-top-100: 60px;
  }
}

@media screen and (max-width: 991px) {
  :root {
    --container-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --container-width: 600px;
    --container-padding: 25px;
  }
}

@media screen and (max-width:576px) {
  :root {}
}
